<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <h3>Create a Forecast</h3>
        <%= render 'shared/forecast_form' %>
      </section>
      <section>
        <h3>Post About the Weather</h3>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span6">
      <h3>Weather Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1><center>Welcome to the Weather App</center></h1>
    <h2>
      This is the home page for the Weather App!
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %> 

