<% provide(:cwx, true) unless @temperature.nil? %>

<h1><%= @place.identifier %> <%= @cityy %> (<%= @lat %>, <%= @lon %>)</h1>
<p><%= @osname %> (<%= @oslat %>,<%= @oslon %>)</p>
<p>Elevation: <%= @oselevation %> ft</p>
