<li>
<div class="row">
<div class="span10">
  <span class="content"><h3><%= @pictograph.name %></h3></span>
  <span class="content polaroidbig"><%= image_tag @pictograph.image_url.to_s %></span>
  <div class="span7">
    <span class="content"><strong><%= @pictograph.description %></strong></span>
    <span class="timestamp">
      Uploaded <%= time_ago_in_words(@pictograph.created_at) %> ago by <strong><%= link_to @pictograph.user.name, @pictograph.user, class: "shitfucker", title: @pictograph.user.name, "data-content" => (pluralize(@pictograph.user.microposts.count, "Post")+" | "+pluralize(@pictograph.user.forecasts.count, "Forecast")+" | "+pluralize(@pictograph.user.followers.count, "Follower")+" | Following "+@pictograph.user.followed_users.count.to_s)%></strong>
    </span>
    <span>
      <% if signed_in? %>
        <% if current_user.admin? | (current_user == @pictograph.user) %>
          </br></br>
          <%= link_to "Delete Picture", @pictograph, method: :delete,
                                     data: { confirm: "Are you sure?" },
                                     title: @pictograph.name %>			     
        <% end %>
      <% end %>
    </span>
  </div>
  <div class="span2">
    <span class="content center score">
      <% if (@pictograph.reputation_value_for(:votes).to_i > 0)	%>
        <div class="pos">+<%= @pictograph.reputation_value_for(:votes).to_i %></div>
      <% elsif (@pictograph.reputation_value_for(:votes).to_i == 0) %>
        <div>0</div>
      <% else %>
        <div class="neg"><%= @pictograph.reputation_value_for(:votes).to_i %></div>
      <% end %>	      
    </span>
    
    <span class="content center">
      <% if signed_in? %>     
	<%= link_to (image_tag 'upvote.png'), vote_pictograph_path(@pictograph, type: "up"), method: "post" %> 
        <%= link_to (image_tag 'downvote.png'), vote_pictograph_path(@pictograph, type: "down"), method: "post" %>
      <% else %>
	<%= link_to (image_tag 'upvote.png'), signin_path %> 
        <%= link_to (image_tag 'downvote.png'), signin_path %>
	<span class="content psi"><%= link_to "Please sign in to rate this picture!", signin_path %></span>
      <% end %>
    </span>
  </div>
</div>
</div>
</li>
    
<script>
  $('.shitfucker').popover({ html : true });
</script>

