<ul class="subforumlist opencom hihi" id="<%= feed_item.id %>">
  <div class="row">
    <div class="span2">
      <span class="user">
        <%= link_to feed_item.user.name, feed_item.user, class: "shitfucker", title: feed_item.user.name, "data-content" => (pluralize(feed_item.user.microposts.count, "Post")+" | "+pluralize(feed_item.user.forecasts.count, "Forecast")+" | "+pluralize(feed_item.user.followers.count, "Follower")+" | Following "+feed_item.user.followed_users.count.to_s)%>
      </span>
      <span class="user"><%= link_to gravatar_for(feed_item.user), feed_item.user %></span>
    </div>
    <div class="span3">
      <span class="content"><%= h(feed_item.content) %></span>
      <span class="timestamp">
        Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
      </span>
      <% if current_user?(feed_item.user) %>
        <%= link_to "delete", feed_item, method: :delete,
                                         data: { confirm: "You sure?" },
                                         title: feed_item.content %>	
      <% end %>
    </div>
  </div>
</ul>

<script>
  $('.shitfucker').popover({ html : true });
</script>
