</br>
<aside>
  <div class="row">
    <div class="span5">
      <div class="span4 offset1">
        <%= form_for(@subforum, html: { multipart: true } ) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="field">
            <%= f.label "Name" %>
            <%= f.text_field :name, placeholder: "Subforum Name" %>
          </div>
          <div>
            <%= f.label "Select a Parent Forum" %>
            <%= f.select :forum_id, [["Main Forums", 1], ["Regional Forums", 2], ["Event Forums", 3]] %>
          </div>
          <%= f.submit "Create Subforum", class: "btn btn-large btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</aside>

