<li>
  <span class="sensible"><%= forecast.sensible %></span>
  <span class="hi_temp"><%= forecast.hi_temp.to_s() %></span>
  <span class="lo_temp"><%= forecast.lo_temp.to_s() %></span>
  <span class="ws"><%= forecast.ws.to_s() %></span>
  <span class="wd"><%= forecast.wd.to_s() %></span>
  <span class="precip_chance"><%= forecast.precip_chance.to_s() %></span>
  <span class="qpf"><%= forecast.qpf.to_s() %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(forecast.created_at) %> ago.
  </span>
</li>

